<div class="col">
  <h6>{{criteriaIndex + 1}}.{{subcriteriaIndex + 1}} {{subcriteria.subcriteria_title}}</h6>
</div>
<div class="col">
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}"
      id="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}_0"
      [value]="0"
      [(ngModel)]="subcriteria.rating"
      [disabled]="isSubcriteriaDisabled()"
      (change)="saveRules()"
    >
    <label
      class="form-check-label"
      for="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}_0"
    >
      Não encontrei
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}"
      id="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}_1"
      [value]="1"
      [(ngModel)]="subcriteria.rating"
      [disabled]="isSubcriteriaDisabled()"
      (change)="saveRules()"
    >
    <label
      class="form-check-label"
      for="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}_1"
    >
      Encontrei facilmente
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}"
      id="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}_2"
      [value]="2"
      [(ngModel)]="subcriteria.rating"
      [disabled]="isSubcriteriaDisabled()"
      (change)="saveRules()"
    >
    <label
      class="form-check-label"
      for="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}_2"
    >
      Encontrei com dificuldade
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}"
      id="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}_3"
      [value]="3"
      [(ngModel)]="subcriteria.rating"
      [disabled]="isSubcriteriaDisabled()"
      (change)="saveRules()"
    >
    <label
      class="form-check-label"
      for="verificationRating_{{topicIndex}}_{{criteriaIndex+1}}_{{subcriteriaIndex+1}}_3"
    >
    Encontrei com muita dificuldade
    </label>
  </div>
</div>
