.valid-topic {
  display: inline-block;
  overflow: visible;
}

.chart-container {
  display: block;
  height: 100%;
  margin-bottom: 40pt;
  max-width: 300px;
  page-break-inside: avoid;
}

.chart-canvas {
  display: block;
  overflow: visible;
}

.topic-container {
  margin-top: 30px;
}

@media screen {
  #pdf-container {
    #page-break {
      height: 0;
      page-break-after: always;
    }


    #charts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    .chart-container {
      display: block;
      max-width: 300px;
      margin-bottom: 40pt;
      page-break-inside: avoid;
    }
  }
}

