.valid-topic {
  display: inline-block;
  overflow: visible;
}

.chart-container {
  display: block;
  height: 100%;
  margin-bottom: 40pt;
  max-width: 300px;
  page-break-inside: avoid;
}

.chart-canvas {
  display: block;
  overflow: visible;
}

.topic-container {
  margin-top: 30px;
}

@media screen {
  #pdf-container {
    #page-break {
      height: 0;
      page-break-after: always;
    }


    #charts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    .chart-container {
      display: block;
      max-width: 300px;
      margin-bottom: 40pt;
      page-break-inside: avoid;
    }
  }
}

@media print {
  #pdf-container {
    max-width: unset !important;
    margin: 0 !important;

    #page-break {
      font-size: xx-small;
      page-break-after: always;
    }

    #charts {
      display: block;
      page-break-after: always;
    }

    .valid-topic {
      margin-bottom: 40pt;
      width: 40%;
    }

    .topic-container {
      margin-top: 30px;
      overflow: visible;
      page-break-before: always;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
  }
}
