@media screen {

  #pdf-container {
    #page-break {
      height: 0;
      page-break-after: always;
    }


    #charts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    .valid-topic {
      display: inline-block;
      overflow: visible;
    }

    .chart-container {
      display: block;
      max-width: 300px;
      margin-bottom: 40pt;
      page-break-inside: avoid;
    }

    .chart-canvas {
      display: block;
      overflow: visible;
    }
  }
}

