<div class="container">
  <app-criteria-filter></app-criteria-filter>
  <div class="accordion" id="topics-accordion">
    <div
      *ngFor="let topic of rules; let topicId = index"
      class="accordion-item"
    >
      <div class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          attr.data-bs-target="#topic{{ topicId }}-collapse"
          aria-expanded="true"
          attr.aria-controls="topic{{ topicId }}-collapse"
        >
          <h2
            lass="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            attr.data-bs-target="#topic{{ topicId }}-collapse"
            aria-expanded="true"
            attr.aria-controls="topic{{ topicId }}-collapse"
          >
            {{ topic.topic }}
          </h2>
        </button>
      </div>
      <div
        id="topic{{ topicId }}-collapse"
        class="accordion-collapse collapse show"
        attr.aria-labelledby="accordion{{ topicId }}-heading"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col col-9">
              <app-criteria [topic]="topic" [topicId]="topicId"></app-criteria>
            </div>
            <div class="col col-3">
              <canvas
                baseChart
                [type]="'pie'"
                [datasets]="[{data: generateTopicRating(topic)}]"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-2 mb-5">
    <button type="button" class="btn btn-primary">Enviar</button>
  </div>
</div>
