<div class="container my-4">
  <h4>
    Filtrar
  </h4>
  <p>Todos os itens marcados serão utilizados para gerar os critérios a serem avaliados.</p>
  <form action="submit" class="ml-2">
    <div
      class="form-check"
      *ngFor="let reference of selectedReferences | keyvalue"
    >
      <input
        class="form-check-input"
        type="checkbox"
        id="reference{{ reference.value.id }}-checkbox"
        [checked]="reference.value.selected"
        (change)="
          this.rulesService.toggleReference(
            reference.key,
            !reference.value.selected
          )
        "
      />
      <label
        class="form-check-label"
        for="reference{{ reference.value.id }}-checkbox"
      >
        {{ reference.value.name }}
        <a target="_blank" href="{{ reference.value.link }}">
          <fa-icon class="fa-light" [icon]="faLink" placement="right"></fa-icon>
        </a>
      </label>
    </div>
  </form>
</div>
