<div class="container">
  <div>
    <h2>Bem vindo ao Guia de Transparência</h2>
    <p>
      O Guia Transparência é um instrumento que avalia se um portal de transparência novo ou existente atende a todos os requisitos estabelecidos por lei.
      <br>Para utilizá-lo, basta seguir o passo a passo indicado abaixo:
    </p>

    <ul>
      <li>Utilize os filtros para selecionar quais fontes serão consideradas para determinar os requisitos a serem satisfeitos.</li>
      <li>Clique nas abas de cada tópico para ter acesso aos itens que serão avaliados.</li>
      <li>Ao localizar o item no guia, marque a opção que mais se aproxima da sua experiência. Ou seja, você deve marcar se o item foi encontrado facilmente, encontrado com dificuldade, encontrado com muita dificuldade ou não encontrado.</li>
      <li>Ao final da avaliação, você pode clicar no botão "Visualizar relatório", localizado no final da página, para gerar um relatório da avaliação, que pode ser baixado em formato PDF.</li>
    </ul>

    <p>O formulário salva o seu progresso, assim, você pode sair e retornar para completá-lo como preferir. Para limpar todo conteúdo, há um botão "Limpar formulário" no final da página.</p>
    <p>Cada seção contém um gráfico informando como está a avaliação daquele tópico. Os gráficos são interativos e você pode clicar na legenda de uma categoria se quiser desconsiderá-la naquele gráfico.</p>
    <p>Além disso, as seções também possuem uma barra de progresso para você acompanhar o quanto falta para completá-la!</p>
    <p>O relatório pode ser enviado sem que todos os itens sejam preenchidos, os itens não informados receberão a avaliação "Não Informado".</p>
    <p>Caso tenha dúvidas ou queira saber mais informações sobre transparência e governo eletrônico, você também pode interagir com a assistente virtual Tais, clicando no ícone no canto inferior direito.</p>
  </div>
  <app-criteria-filter></app-criteria-filter>
  <div class="accordion" id="topics-accordion">
    <div
      *ngFor="let topic of rules; let topicId = index"
      class="accordion-item"
    >
      <app-topic
        [topic]="topic"
        [topicId]="topicId"
        [topicRating]="calculateTopicRating(topic)"
        [topicSize]="calculateTopicSize(topic)"
      ></app-topic>
    </div>
  </div>
  <div class="row">
    <div class="col col-6">
      <div class="container my-3 mb-5">
        <button
          type="button"
          class="btn btn-primary d-block m-auto"
          (click)="clearForm()"
        >
          Limpar formulário
        </button>
      </div>
    </div>
    <div class="col col-6">
      <div class="container my-3 mb-5">
        <button
          type="button"
          class="btn btn-primary d-block m-auto btn-success"
          (click)="goTo('results')"
        >
        Visualizar relatório
        </button>
      </div>
    </div>
  </div>
</div>
