<div class="container">
  <div>
    <h2>
      Lorem Ipsum
    </h2>
  </div>
  <app-criteria-filter></app-criteria-filter>
  <div class="accordion" id="topics-accordion">
    <div
      *ngFor="let topic of rules; let topicId = index"
      class="accordion-item"
    >
      <app-topic
        [topic]="topic"
        [topicId]="topicId"
        [topicRating]="calculateTopicRating(topic)"
        [topicSize]="calculateTopicSize(topic)"
      ></app-topic>
    </div>
  </div>
  <div class="row">
    <div class="col col-6">
      <div class="container my-3 mb-5">
        <button type="button" class="btn btn-primary d-block m-auto" (click)="goTo('results')">Enviar</button>
      </div>
    </div>
    <div class="col col-6">
      <div class="container my-3 mb-5">
        <button type="button" class="btn btn-primary d-block m-auto" (click)="clearForm()">Limpar</button>
      </div>
    </div>
  </div>
</div>
