<head>

</head>
<body>
  <nav class="navbar bg-light mb-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/search.png" alt="Ícone de lupa com símbolo de acerto" height="24" class="d-inline-block align-text-top">
        Checklist Transparência
      </a>

      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
