/* You can add global styles to this file, and also import other style files */

@media print {
  .navbar {
    display: none !important;
  }

  .print-button-container {
    display: none !important;
  }

  #blip-chat-container {
    display: none !important;
  }

  #pdf-container {
    max-width: unset !important;
    margin: 0 !important;

    #page-break {
      font-size: xx-small;
      page-break-after: always;
    }

    #charts {
      display: block;
      page-break-after: always;
    }

    .valid-topic {
      float: left;
      width: 50%;
      overflow: visible;
      margin-bottom: 40pt;
    }

    .chart-container {
      display: block;
      max-width: 300px;
      margin: auto;
      page-break-inside: avoid;
    }

    .chart-canvas {
      display: block;
      overflow: visible;
    }

    #topics {
      page-break-before: always;
    }

    .topic-container {
      page-break-before: always;
    }
  }
}
