/* You can add global styles to this file, and also import other style files */

@media print {
  .navbar {
    display: none !important;
  }

  .print-button-container {
    display: none !important;
  }

  .blip-chat-container {
    display: none !important;
  }
  #pdf-container {
    max-width: 100vw;

    #charts {
      width: 30vw;
    }

    #topics {
    }

    .chart-container {
      max-width: 30vw;
      display: inline-block;
    }

    .topic-container {

    }

    .criteria-title {
      font-size: 12pt;
    }

    //BOOTSTRAP OVERWRITE

    .mb-5 {
      margin-bottom: 10pt;
    }
  }
}
